# Ignore Mac OS X .DS_Store (it stores directory attributes).
.DS_Store

# Ignore build results.
target/*
project/


# Ignore IntelliJ config files.
*.iml
.idea/

# Ignore SBT build results
project/*
target/*

# Ignore the testLog directory created by the unit tests.
testLog/

# Ignore node files
node_modules/
npm-debug.log
